h1 {
    color: white;
}

button {
    font-size: 8em;
}

form {
    text-align: left;
    padding-left: 20%;
}

.btn:hover {
    background-color:  #bfbfbf;
}

.play-again {
    color: white;
    background-color: #282c34;
    /* CSS below centers it in the middle of the page */
    position: fixed;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.play-again:hover {
    background-color :#424855; 
}

.container {
    min-height: 100vh;
}

/*
.row {
    min-height: 90vh;
}
*/

.streetView {
    width: auto;
    min-height: 70vh;
    padding: 0;
}

.guess {
    width: 100%;
    margin: auto;
    min-height: 20vh;
    background-color: lightcoral;
}

.answer {
    margin: 0.5em;
    width: 8em;
}

.answerBox{
    margin: auto;
}

#myPanorama {
    width: 100%;
    height: 100%;
    margin:0;
}

#Correct{
    visibility: hidden;
}

#Wrong{
    visibility: hidden;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(72, 241, 50, 0.7); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#overlayText{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}